{{/* Skills */}}
<div class="max-w-[65ch] mx-auto mt-8 lg:mt-12">
    <div class="card bg-base-100 shadow-xl p-4 m-2">
        <h2 class="text-3xl">Skills </h2>
        <hr />
        <div class="card-body">

            <div class="flex flex-wrap gap-2">
                {{ range .Self.Params.skills }}
                <div class="badge badge-accent badge-outline">{{ . }}</div>
                {{ end }}
            </div>
            {{ if gt (len .Self.Content) 0 }}
            <hr>
            <div role="alert" class="alert alert-warning">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    class="stroke-info h-6 w-6 shrink-0">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <span> {{.Self.Content}}</span>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{/* End Of Skills */}}