{{/* Skills */}}
<div class="max-w-[65ch] mx-auto mt-8 lg:mt-12">
    <div class="card bg-base-100 shadow-xl p-4 m-2">
        <h2 class="text-3xl">{{.Self.Title}} </h2>
        <hr />
        <div class="card-body">

            <div class="flex flex-wrap gap-2">
                {{ range .Self.Params.skills }}
                <div class="badge badge-accent badge-outline">{{ . }}</div>
                {{ end }}
            </div>
            {{ if gt (len .Self.Content) 0 }}
            <hr>
            <div role="alert" class="alert alert-warning">
                <span> {{.Self.Content}}</span>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{/* End Of Skills */}}