<!-- get value from params -->
{{ $folderDir:= .Get "dir" }}
{{ $class:= .Get "class" }}
{{ $height:= replace (replace (.Get "height") "px" "") "x" "" }}
{{ $width:= replace (replace (.Get "width") "px" "") "x" "" }}
{{ $resize:= .Get "resize" }}
{{ $webp:= .Get "webp" | default true }}
{{ $loading:= .Get "loading" | default "lazy" }}
{{ $command:= .Get "command" }}
{{ $option:= .Get "option" }}
{{ $zoomable:= .Get "zoomable" | default true }}

{{ $scratch := newScratch }}
{{ $page:= .Page }}
{{ $assetsImage:= resources.Match (add (string $folderDir) `/*`) }}

<!-- start of checking asset-image -->
{{ if $assetsImage }}
<!-- start of image range -->
<div class="dream-grid">
  {{ range $assetsImage }}
  {{ $image := resources.Get . }}
  {{ $imageExt := path.Ext $image }}
  {{ if or (eq $imageExt `.jpg`) (eq $imageExt `.jpeg`) (eq $imageExt `.png`) (eq $imageExt `.webp`) (eq $imageExt
  `.svg`) (eq $imageExt `.gif`) (eq $imageExt `.ico`) }}
  {{ partial "image-pipe.html" (dict "Context" $scratch "Height" $height "Width" $width "Command" $command "Webp" $webp
  "Image" $image "Option" $option "Zoomable" $zoomable "Resize" $resize) }}
  {{ $imageHeight:= $scratch.Get "image-height" }}
  {{ $imageWidth:= $scratch.Get "image-width" }}
  {{ $imagePaths:= split .Name "/" }}
  {{ $imageAlt:= index $imagePaths (sub (len $imagePaths) 1)}}

  <div class="w-full xs:w-1/2 sm:w-1/2 md:w-1/2 lg:w-1/3 xl:w-1/4 p-0.5 xs:p-4 dream-column">
    <div
      class="card rounded-btn bg-base-100 hover:bg-base-content/15 shadow-md dark:border dark:border-base-content/30">
      <div class="card-body p-0">
        <a href="{{ $scratch.Get `image` }}" class="glightbox3" data-gallery="gallery">
          <img loading="{{ $loading }}" src="{{ $scratch.Get `image` }}" class="img my-0" alt="{{ $imageAlt }}"
            onerror="this.onerror='null';this.src='{{ $scratch.Get `imageFallback` }}'" />
        </a>
        {{/* TODO: wanted to add a figure but this will require a massive amount of work to make a relationship between
        an image and it's figure */}}
        {{/* <div class="flex items-center justify-center">
          <div class=" mx-6">
            {{$imageAlt}}
          </div>
        </div> */}}
      </div>
    </div>
  </div>
  {{ end }}
  {{ end }}
  <!-- end of image range -->
</div>

<!-- if directory does not exist -->
{{ else }}
<strong style="display: inline-block; margin-top:15px">
  Nothing to show in [{{ site.BaseURL }}<span style="color:red">
    {{ $folderDir }}
  </span>
  ] or folder does not exist
</strong>
{{ end }}