{{ define "title" }}
{{- .Title -}}
{{ end }}

{{ define "main"}}
<div class="grid  lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 xs:grid-cols-1 gap-2">
  {{ range .Pages }}
  <div class="card card-normal bg-base-100 dark:bg-base-300 shadow-xl p-4 m-2 hover:cursor-pointer hover:shadow-sm">
    <div class="flex flex-row justify-center">
      <ion-icon name="flame-outline" class="text-3xl"></ion-icon>
      <h2 class="text-3xl font-bold"> {{ .Title }}</h2>
    </div>
    <div class="card-body">
      <hr class=""/>
      <div class="prose dark:prose-invert">
        {{ .Content | emojify }}
      </div>
    </div>
  </div>
  {{ end }}
</div>
{{ end }}